---
layout: home
---

<div class="center-big">Temporal API Documentation</div>
<div class="blocks">
  <a href="/account.html" title="Account API" class="block block-a">
    <h3>Account API</h3>
    <p class="block-description">Manage authentication tokens, generate and retrieve IPFS keys, view credit balances, and change account passwords.</p>
  </a>
  <a href="/database.html" title="Database API" class="block block-b">
    <h3>Database API</h3>
    <p class="block-description">Retrieve detailed information on uploads processed through Temporal, including encrypted file uploads.</p>
  </a>
  <a href="/payment.html" title="Payment API" class="block block-a">
    <h3>Payment API</h3>
    <p class="block-description">Calculate cost for pinning and miscellaneous activities in advance, including purchase of credits with RTC or other cryptocurrencies.</p>
  </a>
  <a href="/ipfs.html" title="IPFS API" class="block block-b">
    <h3>IPFS API</h3>
    <p class="block-description">Access all public functionality for IPFS, including utilities such as pinning and PubSub, and private IPFS network management.</p>
  </a>
  <a href="/ipns.html" title="IPNS API" class="block block-a">
    <h3>IPNS API</h3>
    <p class="block-description">Publish IPNS records to public and private networks, and also retrieve IPNS records.</p>
  </a>
  <a href="/lens.html" title="Lens API" class="block block-b">
    <h3>Lens API</h3>
    <p class="block-description">Algorithmically search the Temporal database for indexed files, or submit indexing requests on non-indexed, publicly accessible files.</p>
  </a>
</div>