---
layout: home
---

<div class="center-big">Temporal API Documentation</div>
<div class="blocks">
  <a href="/ipfs.html" title="IPFS API" class="block block-b">
    <h3>IPFS API</h3>
    <p class="block-description">Upload files, pin hashes, and send pubsub messages using our proprietary API, or interact directly with our IPFS nodes using the IPFS HTTP API reverse proxy</p>
  </a>
  <a href="/ipns.html" title="IPNS API" class="block block-a">
    <h3>IPNS API</h3>
    <p class="block-description">IPNS record management. Create your immutable links to changing content leveraging the IPNS namespace</p>
  </a>
  <a href="/lens.html" title="Lens API" class="block block-b">
    <h3>Lens API</h3>
    <p class="block-description">Search through Lens, our opt-in search engine for IPFS powered by Temporal</p>
  </a>
  <a href="/account.html" title="Account API" class="block block-a">
    <h3>Account API</h3>
    <p class="block-description">Account creation, key management, and password change functionality</p>
  </a>
  <a href="/database.html" title="Database API" class="block block-b">
    <h3>Database API</h3>
    <p class="block-description">Retrieve information about the data you have uploaded to IPFS through Temporal</p>
  </a>
  <a href="/payment.html" title="Payment API" class="block block-a">
    <h3>Payment API</h3>
    <p class="block-description">Calculate the  the cost of uploading a file or pinning a hash, and purchase credits using cryptocurrency or Stripe</p>
  </a>
</div>